.title-text {
  font-size: 2rem;
  color: #333;
  padding: 20px;
  background-color: #fff;
}

#breadCrumb {
  background-color: #a801be;
  color: white;
}

#breadCrumb a {
  color: white;
}

.banner-content {
  background-color: #fff;
  display: flex;
  padding-bottom: 20px;
}
.banner-news {
  position: relative;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../images/1021x580/38-1021x580.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 700px;
  margin: 0 10px;
  overflow: hidden;
  transition: background-size 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}
.banner-news:nth-child(2) {
  background-image: url("../images/1021x580/45-1021x580.jpg");
}
.banner-news:nth-child(3) {
  background-image: url("../images/1021x580/47-1021x580.jpg");
}
.banner-news::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: background-color 0.5s ease;
}

.banner-news:hover::before {
  background-color: rgba(168, 1, 190, 0.3);
}

.banner-news:hover {
  background-size: 600px;
}

.banner-news h1,
.banner-news p {
  position: relative;
  z-index: 2;
}

.banner-news h1 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
}

.banner-news p {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 10px;
}

.banner-news:hover h1,
.banner-news:hover p {
  color: white;
  text-shadow: 0 0 10px black, 0 0 5px black;
}

#result-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
