:root {
  --purple: #a801be;
  --white: #ffffff;
  --black: #000000;
  --background-grey: #e6e6e6;
  --grey: #444444;
  --grey-2: #686868;
  --light-grey: #e6e6e6;
  --dark-grey: #848484;
  --facebook: #516eab;
  --twitter: #29c5f6;
  --youtube: #e14e42;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background-grey);
}
a {
  text-decoration: none;
  color: var(--black);
}
a:visited {
  text-decoration: underline;
}

.next-prevBtn {
  color: var(--grey);
  display: flex;
  align-items: center;
  font-size: 0.7rem;
}
.next-prevBtn .btnDisabled i {
  color: var(--grey-2);
  border-color: var(--background-grey);
}
.next-prevBtn .prev-box,
.next-prevBtn .next-box {
  width: 20px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--light-grey);
  cursor: pointer;
  transition: all 0.3s;
}
.next-prevBtn .prev-box:hover,
.next-prevBtn .next-box:hover,
.next-prevBtn .btnDisabled:hover i {
  background-color: var(--purple);
  border: none;
  color: var(--white);
}
.next-prevBtn .prev-box {
  margin-right: 5px;
}
.pulldownBtn {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.page-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 26px;
  font-size: 0.8rem;
  line-height: 21px;
}
/* Style cho nút Back to Top */
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: var(--purple);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-to-top:hover {
  background-color: var(--youtube);
  transform: translateY(-3px);
}

.back-to-top.active {
  opacity: 1;
  visibility: visible;
}
.current {
  padding: 3px 5px;
  margin-right: 5px;
  background-color: var(--purple);
  color: var(--white);
  text-align: center;
  border: 1px solid var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 28px;
  max-height: 28px;
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.page,
.last,
.page-nav--next {
  padding: 3px 5px;
  margin-right: 5px;
  background-color: transparent;
  color: var(--grey);
  text-align: center;
  border: 1px solid var(--background-grey);
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 28px;
  max-height: 28px;
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.page-nav--next {
  margin-right: auto;
}
.page:hover,
.last:hover,
.page-nav--next:hover {
  color: var(--white);
  background-color: var(--grey);
  border-color: var(--grey);
}
.extend {
  padding: 3px 5px;
  margin-right: 5px;
  background-color: transparent;
  color: var(--grey);
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 28px;
  max-height: 28px;
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.pages {
  color: var(--grey);
}
.section-title {
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--purple);
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header-bar {
  width: 100vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: var(--white);
  margin: 0 auto;
}
.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4px 20px;
}
.hearder-nav,
.header-lists > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s;
}
.hearder-nav {
  flex-grow: 1;
  gap: 1rem;
}
.header-item {
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  cursor: pointer;
  padding-right: 1rem;
  gap: 0.4rem;
  width: fit-content;
}

.header-item:hover > a,
.header-item:hover .header-btn,
.header-item:hover .header-btn > a {
  color: var(--purple);
}
.header-filters {
  position: relative;
  padding: 0;
}
.header-btn {
  gap: 0.4rem;
}
.header-filters-lists {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  margin-top: 0;
  z-index: 100;
  background-color: var(--white);
  color: var(--black);
  padding: 20px;
  width: fit-content;
  text-wrap: nowrap;
  flex-direction: column;
  gap: 14px;
  transition: all 0.3s;
}
.header-filter-item {
  padding-right: 0;
  transition: all 0.3s;
}
.header-filter-item:hover .header-filter-link {
  color: var(--purple);
}
.header-filters:hover .header-filters-lists {
  display: flex;
}
/* SEARCH BOX HEADER */
.header-searchBox {
  position: relative;
  cursor: pointer;
}

.header-search-form {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
  background-color: var(--white);
  border: none;
  padding: 20px 24px;
  flex-direction: row;
  transition: all 0.3s;
  opacity: 1;
}
.header-search-form.disabled {
  display: none;
}
.header-search-form:not(.disabled) {
  display: flex;
}
.searchBox {
  height: 32px;
  margin: 0;
  padding: 3px 9px;
  border: 1px solid var(--light-grey);
  outline: none;
  border-right: none;
}
.searchBox:focus {
  border: 1px solid var(--grey);
}
.searchBtn {
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 8px 15px;
  transition: all 0.3s;
  border: none;
}
.searchBtn:hover {
  background-color: var(--purple);
}
/* SECTION BANNER */
.carousel-container {
  position: relative;
  cursor: pointer;
}
.carousel-container i {
  opacity: 0;
  transition: all 0.3s;
}
.carousel-container:hover i {
  opacity: 1;
}
.carousel-container:hover i:hover {
  color: var(--purple);
}
.carousel-container i {
  position: absolute;
  color: var(--white);
  font-size: 2rem;
}
.carousel-container .fa-chevron-left {
  left: 2rem;
  bottom: 50%;
  transform: translateY(50%);
}
.carousel-container .fa-chevron-right {
  right: 2rem;
  bottom: 50%;
  transform: translateY(50%);
}
.carousel-container a div {
  position: relative;
}
.carousel-container a div::before {
  content: "";
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.carousel-container a div img {
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: cover;
}
.carousel-container a div p {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  color: var(--white);
  font-size: 3rem;
  text-transform: uppercase;
  z-index: 2;
}
.section-trending {
  background-color: var(--white);
  padding: 20px;
}
.trending-info {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  font-size: 0.8rem;
}
.trending-now--title {
  margin-right: 20px;
}
.trending-now--display-area {
  color: var(--grey);
  flex-grow: 1;
}

.trending-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.trending-item,
.recommended-item,
.lastestArticles-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.trending-item img,
.recommended-img,
.lastestArticles-img {
  width: 100%;
  object-fit: cover;
}
.trending-item:hover .trending-title,
.recommended-item:hover .recommended-title,
.lastestArticles-item:hover .lastestArticles-title {
  color: var(--purple);
}
.trending-title,
.recommended-title,
.lastestArticles-title {
  font-size: 1.4rem;
  transition: all 0.3s;
}
.trending-meta-info,
.recommended-meta-info,
.lastestArticles-meta-info {
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
}
.trending-author,
.recommended-author,
.lastestArticles-author {
  font-weight: 700;
}
.trending-author::after,
.recommended-author::after,
.lastestArticles-author::after {
  content: "-";
  margin-left: 3px;
  margin-right: 3px;
}
.trending-date,
.recommended-date,
.lastestArticles-date {
  color: var(--grey);
  flex-grow: 1;
}
.trending-comments-box,
.recommended-comments-box,
.lastestArticles-comments-box {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 2px;
  background-color: var(--dark-grey);
  width: 22px;
  height: 20px;
  text-align: center;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.trending-comments-box::after,
.recommended-comments-box::after,
.lastestArticles-comments-box::after {
  position: absolute;
  bottom: -5px;
  right: 0;
  content: "";
  border-style: solid;
  border-width: 5px 5px 0 0;
  border-color: var(--dark-grey) transparent transparent transparent;
}
/* SECTION MUSTREAD */
.section-mustRead {
  background-color: #ffffff;
  padding: 20px;
}
.mustRead-info {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  font-size: 0.8rem;
  justify-content: space-between;
}
.mustRead-filters {
  position: relative;
}
.mustRead-pulldown,
.mustRead-filters-list {
  border: 1px solid var(--background-grey);
  padding-left: 14px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: all 0.3s;
  cursor: pointer;
}
.mustRead-filters:hover {
  color: var(--purple);
}
.mustRead-filters-list {
  position: absolute;
  top: 25;
  right: 0;
  background-color: var(--white);
  display: none;
  transition: all 0.3s;
}
.mustRead-filters-list li a {
  transition: all 0.3s;
}
.mustRead-filters-list li:hover a {
  color: var(--purple);
}
.mustRead-filters:hover .mustRead-filters-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mustRead-lists {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 20px;
}
.mustRead-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  transition: all 0.3s;
  cursor: pointer;
}
.mustRead-item:hover {
  color: var(--purple);
}
.mustRead-img {
  width: 100%;
}
.mustRead-title {
  font-size: 1rem;
  font-weight: 400;
  line-height: 18px;
}
/* SECTION SOCIAL NEWS */
.section-socialSub {
  max-height: 90px;
  height: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
.social-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  height: 100%;
  width: 100%;
  color: var(--white);
  transition: all 0.3s;
}
.social-box.facebook {
  background-color: var(--facebook);
}
.social-box.x-twitter {
  background-color: var(--twitter);
}
.social-box.youtube {
  background-color: var(--youtube);
}
.social-box:hover {
  background-color: var(--black);
}

.social-icon {
  font-size: 1.3rem;
  margin-bottom: 12px;
}
.social-counter {
  font-size: 1rem;
  font-weight: 700;
  line-height: 21px;
}
.social-name {
  font-size: 0.7rem;
}
/* SECTION RECOMMENDED */
.section-recommended {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  background-color: var(--white);
}
.recommended-area {
  grid-column: span 2;
  padding-right: 20px;
  border-right: solid 1px var(--background-grey);
}
.recommended-secion--title {
  width: fit-content;
  margin-bottom: 20px;
}
.recommended-lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.social-title {
  width: fit-content;
}
.social-area {
  padding-left: 20px;
}
/* INSTAGRAM AREA */
.userBox {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.userBox-profile-icon {
  max-width: 60px;
  max-height: 60px;
  aspect-ratio: 1;
  height: max-content;
}
.userBox-meta {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-top: 4px;
  padding-left: 12px;
  border-top: 1px solid var(--purple);
}
.userBox-profile {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.userBox-username {
  color: var(--purple);
  font-size: 1rem;
  font-weight: 600;
  line-height: 26px;
  text-overflow: ellipsis;
}
.userBox-followers span {
  font-weight: 600;
}
.userBox-btn {
  padding: 8px 14px;
  border: 1px solid var(--light-grey);
  width: fit-content;
  height: fit-content;
  transition: all 0.3s;
}
.userBox-btn:hover {
  border-color: var(--dark-grey);
}
.social-lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  margin-top: 20px;
}
.social-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center center;
  transition: all 0.3s;
  position: relative;
}

.social-image::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  left: 3px;
  bottom: 3px;
  border: 1px solid var(--white);
  background-color: #ffffff25;
  opacity: 0;
  transition: all 0.3s ease;
}
.social-image:hover::before {
  opacity: 1;
}
/* SECTION VIDEO NEWS */
.section-videoNews {
  background-color: var(--purple);
}
.videoNews-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.1rem;
  padding-left: 20px;
}
.videoNews-player {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Tỷ lệ 16:9 (9/16 = 0.5625 hoặc 56.25%) */
  height: 0;
  overflow: hidden;
}
.videoNews-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
/* SECTION LASTEST NEWS */
.section-lastestArticles {
  padding: 20px;
  background-color: var(--white);
}
.lastestArticles-title {
  width: fit-content;
  margin-bottom: 20px;
}
.lastestArticles-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
/* FOOTER */
.footer-container {
  background-color: var(--black);
  padding-top: 42px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  color: var(--white);
  column-gap: 40px;
}
.footer-logo-wrap {
  width: 100%;
}
.footer-text-wrap {
  font-size: 0.8rem;
  line-height: 1.6;
}
.footer-text-wrap p {
  margin-bottom: 20px;
}
.footer-email-wrap {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.footer-email-wrap a {
  text-decoration: none;
  color: var(--purple);
  cursor: pointer;
}
.footer-social-wrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.social-icon-wrap {
  color: var(--white);
  font-size: 1rem;
  padding: 10px;
  transition: all 0.3s;
  aspect-ratio: 1;
  border-radius: 6px;
}
.social-icon-wrap:hover {
  background-color: var(--white);
  color: var(--purple);
}
/* FOOTER NEWS */
.footer-item-titleBox {
  background-color: var(--white);
  display: inline-block;
  color: var(--black);
  padding: 2px 14px;
}
.footer-item--title {
  text-transform: uppercase;
}
.footer-item-lists {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.footer-item--content {
  display: flex;
  flex-direction: row;
  gap: 18px;
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s;
}
.footer-item--content:hover {
  color: var(--purple);
}
.footer-item--thumb img {
  max-width: 100px;
}
.footer-item--details {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer-item--titleDetails {
  font-size: 1rem;
  font-weight: 400;
  line-height: 18px;
}
.footer-item--date {
  font-size: 0.7rem;
  line-height: 11px;
}
/* SUB FOOTER */
.sub-footer-container {
  background-color: var(--purple);
  display: flex;
  flex-direction: row;
  color: var(--white);
  padding: 16px 20px;
  font-size: 0.7rem;
}
.sub-footer-copy {
  flex-grow: 1;
}
.sub-footer-menu {
  display: flex;
  flex-direction: row;
}
.sub-footer-menu-item {
  padding-left: 10px;
}
.sub-footer-menu-item:not(:last-child) {
  padding-right: 10px;
}
.sub-footer-menu-item:hover a {
  color: var(--dark-grey);
}
.sub-footer-menu-item a {
  text-decoration: none;
  color: var(--white);
  transition: all 0.3s;
}
.category-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.popular-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.category-title {
  flex-grow: 1;
  font-size: 1rem;
}
.category-number {
  font-size: inherit;
}

/* MEDIA QUERIES */
@media (max-width: 772px) {
  .carousel-container a div p {
    font-size: 2rem;
  }
  .trending-title,
  .recommended-title,
  .lastestArticles-title {
    font-size: 1rem;
  }
}
@media (max-width: 670px) {
  .carousel-container a div p {
    bottom: 2rem;
    left: 2rem;
  }
  .mustRead-lists {
    grid-template-columns: repeat(3, 1fr);
  }
  .section-recommended {
    row-gap: 20px;
  }
  .recommended-area,
  .social-area {
    grid-column: span 3;
  }
  .social-area {
    padding-left: 0;
  }
  .social-lists {
    grid-template-columns: repeat(4, 1fr);
  }
  .sub-footer-container {
    font-size: 1rem;
  }
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .footer-logo {
    grid-column: span 2;
  }
  .social-icon-wrap {
    font-size: 2rem;
  }
  .social-icon-wrap:first-child {
    padding-left: 0;
  }
}
@media (max-width: 600px) {
  .header-menu {
    padding: 16px 20px;
  }
  .hearder-nav {
    flex-direction: column;
    gap: 8px;
  }
}
